
.explore-link {
  font-weight: bold;
  font-size: 2.4rem;
  color: white;
  font-size: clamp(2.167rem, calc(6rem - 5vw), 4rem); 
}

.explore-link:hover{
  color: rgb(240, 240, 240);
}

body{
  background-image: url("/assets/mountains-universe-3.png");
}